apiVersion: v1
kind: Secret
metadata:
  name: e2e-test-secret
  namespace: default
type: Opaque
data:
  bitcoin-depositor-pk: "base64 encoded Bitcoin depositor private key WIF"
  ethereum-pk: "base64 encoded Ethereum account private key"
